*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pid
*.seed
*.pid.lock

lib-cov

coverage

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env

.next

.DS_Store

common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/

.heft

common/changes/
common/scripts/
common/config/
CHANGELOG.*

pnpm-lock.yaml
yarn.lock
package-lock.json
shrinkwrap.json

dist
lib

*.md
jest.config.ts